<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Account</title>
</head>
    <body>
        <form action='/update/{{user.id}}' method='POST'>
        {% csrf_token %}
        <input type='hidden' name='user_id' value='{{user.id}}'>
        <p>First Name: <input type='text' name='first_name' value='{{user.first_name}}'></p>
        <p>Last Name: <input type='text' name='last_name' value='{{user.last_name}}'></p>
        <p>Email: <input type='text' name='email' value='{{user.email}}'></p>
        <input type='submit' value='Submit'>
    </form>
        <a href='/home'>Go Back</a> | <a href='/logout'>Logout</a>
    </body>
</html>